[2013-11-06 01:52] beechnut opened #2 "New map tiles"
@ohnorobo suggested a sparse map with streets and some features.

tiles.mapc.org seems like a good choice considering those criteria.

![maybe_basemap](https://f.cloud.github.com/assets/1887182/1479522/0c979b5a-4686-11e3-9174-671630c96c49.png)

[2013-11-06 13:54] #2 closed, assigned to nobody

[2013-11-13 00:24] ohnorobo opened #6 "icons are highlighted when clicked"
and go back to their normal color when another icon is clicked

[2013-11-13 00:27] ohnorobo opened #7 "the map moves normally when clicking an icon at the edge"
to reproduce:
zoom out
click an icon near the edge

problem:
the map moves twice, once to center the icon, and once when it bounces back inside the 'maxBounds'

solution:
increase the max bounds so even fully zoomed out every selection only causes the map to move once.

[2013-11-13 00:31] ohnorobo opened #8 "use a full map by default"
MAPC tiles are very cool looking, but they only cover Mass.
A sensible default would be to use the old Mapquest tiles (or something more neutral if you can find it), and have a config option to change the map/attribution.

The gh-pages branch should be configured to use the current MAPC tiles.

[2013-11-13 00:35] ohnorobo opened #9 "refactor handlebars"
Current code in infotemplates.js was originally written for Mustache.js. Handlebars has somewhat more powerful tempting. Refactor to use partials and/or helpers.

[2013-11-13 00:48] ohnorobo opened #10 "test with other datasets"
The best way to make this app really general is to test it out with lots of different datasets.

Tasks:
find/create geojson formatted data
make git branches with different data and config files

find pain points/needed features in the current setup and make other issues as needed.

[2013-11-13 00:51] ohnorobo opened #11 "geo search"
let people search (aka center the map) by their current location or a user-supplied location. Zoom to an appropriate level to show a reasonable number of locations.

[2013-11-13 01:01] ohnorobo opened #12 "facet search"
lots of our data is just enumerations of labels.

be able to display only a subset of point by selecting some labels. Deciding on a good interface for this is part of this story.

interface possibility: http://jiren.github.io/filter.js/filterjs-map.html
(filter.js itself is probably too heavy for this project though)

[2013-11-13 01:27] djq commented on #6
I will take a look at this!

[2013-11-13 01:42] ohnorobo opened #14 "landing page"
dropping people straight into a map is probably confusing. Instead some sort of directed landing page will help people understand what they're seeing.

I'm partial to http://www.smc-connect.org/ 's landing page. Part of this story is to discuss design choices and options.

[2013-11-13 02:31] #6 closed, assigned to djq

[2013-11-13 02:37] beechnut commented on #10
I've got a friendly API that I can query for some GeoJSON later. Lots of datasets, could have some data tomorrow.

[2013-11-13 02:56] beechnut commented on #8
I know of a tileset on my other machine. Will explore.

[2013-11-14 13:39] beechnut commented on #10
Gists to other GeoJSON point datasets, with different spatial extents. Testing with these may ensure our search works for data at different extents/resolutions.

Statewide: [Some MA Hospitals](https://gist.github.com/beechnut/57ba6e907cf1eb338d00)
Boston-area: [All Hubway Stations](https://gist.github.com/beechnut/975bdab36cfaaa48ebcb)

[2013-11-14 13:43] beechnut commented on #8
Similar in style to the MAPC basemap, but it covers the country.

[code]

I think I found this tileset through a Leaflet tutorial. I'm not sure if it's okay to use this key, though.

[2013-11-14 16:51] beechnut opened #19 "Rename project to 'Finda', officially"
I genuinely think this platform could be the next Adopta. And while the documentation says **Finda**, the repo is still called `filter-template`.

I'd like to propose that we change the project name & repo name to Finda. I'd like to do a temperature check on this to see what people are thinking. (This is not a poll.)

Would you please leave a :+1: in the comments if you agree, a :-1: if you do not

[2013-11-16 03:19] ohnorobo commented on #19
:+1: I think once this gets to a certain maturity the lgbtq website will break out into its own repo and the more modular/default things will stay here.

[2013-11-16 03:21] #7 closed, assigned to nobody

[2013-11-16 03:42] ohnorobo commented on #8
The key is the one leaflet uses in their [public repo](https://github.com/Leaflet/Leaflet/blob/master/debug/vector/vector-mobile.html) so it's probably not okay to use on an active site. Should be alright for testing though. I'd rather use something unkeyed, but that probably limits our options a lot.

[2013-11-16 03:56] ohnorobo commented on #12
different use case, but probably some similar functionality [here](https://github.com/kajic/leaflet-locationfilter/)

[2013-11-16 04:33] ohnorobo commented on #10
pantry pickup json (not geojson) https://gist.github.com/ohnorobo/7495967

[2013-11-17 19:12] ohnorobo commented on #11
http://labs.easyblog.it/maps/leaflet-search/

[2013-11-19 17:32] GretaCB opened #20 "map style"
A couple weeks ago, there was discussion about possible map styling. I ran into this today for Google Maps:

http://snazzymaps.com/

[2013-11-21 16:55] ohnorobo commented on #6
http://ikons.piotrkwiatkowski.co.uk/ some nice icon choices

[2013-12-04 02:34] ohnorobo opened #21 "look into recline.js"
I had the interesting experience of searching for a solution to something, and finding some code that was very similar to what we're already doing.
recline.js's [view.map.js](http://reclinejs.com/docs/src/view.map.html)
[demo](http://reclinejs.com/demos/multiview/) select the map view

Recline already used backbone to structure its data. This is something I
a. already wanted to do
b. am not really

[2013-12-16 04:33] ohnorobo commented on #12
https://github.com/LuizArmesto/backbone.leaflet

[2014-01-27 03:21] paulswartz commented on #11
Pretty sure #22 fixed this.

[2014-01-29 23:37] ohnorobo opened #24 "Cross Browser Compatibility"
I've heard reports of troubles using the site in IE. Legacy browser support is probably too much to ask, but compatibility across all modern browsers should be a goal.

in this issue: include any browser specific problem you're seeing with browser and version number.

[2014-01-30 04:45] paulswartz commented on #24
Leaflet only goes back to IE7, so that's the earliest we'll be able to
easily support. Everything else seems to go back that far as well.
On Jan 29, 2014 6:37 PM, "Sarah Laplante" notifications@github.com wrote:

[2014-01-30 19:39] ohnorobo commented on #24
report from marc:
The version of IE that the state uses is version 8 forward and the problem is that it simply doesn’t load. The page finishes loading but stays blank.

[2014-01-30 19:56] StillwellMedia commented on #24
IE8 throws a javascript error if there are console.log() calls in the js and the user does not have the console open.   Production code must be without console.log.  I just looked at the website in a virtual box and there is a console.log error.

[2014-01-30 20:03] paulswartz commented on #24
@stillwellmedia thanks for taking a look! I'll hopefully have some time in the next day or two to look at it.

@codeforboston who should I ping to take a look at pull requests?

[2014-01-30 20:09] ohnorobo commented on #24
@paulswartz, ping me or @beechnut

[2014-01-30 20:33] ohnorobo commented on #9
closed by 9b6805d

[2014-01-30 20:33] #9 closed, assigned to nobody

[2014-01-30 20:34] #11 closed, assigned to ohnorobo

[2014-01-30 20:35] ohnorobo commented on #21
explored recline. I don't think the project it actively maintained enough to use.

[2014-01-30 20:35] #21 closed, assigned to nobody

[2014-01-30 21:06] ohnorobo commented on #24
@paulswartz, @StillwellMedia, all of the console.log is gone after closing Paul's requirejs PR, so hopefully IE should be alright now.

[2014-01-30 21:26] StillwellMedia commented on #24
Yep, it looks like it's working now. One other thing, IE8 does not support the HTML5 placeholder attribute, so that "search for address ..." input is blank and has no instructions.

[2014-01-31 03:15] paulswartz commented on #24
The tiles load in IE7, but nothing else.

[2014-01-31 04:42] paulswartz commented on #24
So I took a look at it and fixed some easy issues on IE8: you can see the result at https://paulswartz.github.io/filter-template/
- only show the geosearch if it's enabled in config.json (I disabled it on my gh-pages) since it doesn't work in IE8
- fixed some issues with the templating causing the info box to render incorrectly.

Let me know if there's anything else and I'll add it to my branch.

[2014-02-02 21:37] paulswartz commented on #8
Other tile sources I came across on the OSM wiki:
- http://openmapsurfer.uni-hd.de/contact.html
- http://developer.mapquest.com/web/products/open/map
- http://www.openstreetmap.org/
- https://github.com/Esri/esri-leaflet (for ESRI base maps)

The MapQuest ones are a little cleaner; the uni-hd ones display more data.

[2014-02-05 00:02] paulswartz commented on #14
In the short term, something like the Pantry Pickup "about" page could pop up the first time the user visits the page to give some context.

[2014-02-12 03:16] paulswartz opened #29 "Mobile support"
Pantry Pickup has nice mobile support, and it would be nice it we replicated that here.  Probably a chunk of the CSS could be used fairly directly.

![2014-02-12 02 59 35](https://f.cloud.github.com/assets/214921/2144891/fdbb5d1e-9393-11e3-85a2-d071eb04d22a.png)
![2014-02-12 02 59 41](https://f.cloud.github.com/assets/214921/2144892/fdc83a8e-9393-11e3-9704-9467dd9f46ef.png)
![2014-02-12 03 00 08](

[2014-02-22 18:14] mjrouser commented on #20
Does this only work with Google maps?  Tiles from OSM are in the code now.

[2014-02-22 18:16] mjrouser commented on #19
Agreed, Matt.  :+1:

[2014-02-22 19:00] ohnorobo commented on #19
Renaming project from filter-template to finda, please stand by...

[2014-02-22 19:00] #19 closed, assigned to nobody

[2014-02-22 19:43] paulswartz commented on #8
Closed by #31.

[2014-02-22 19:43] #8 closed, assigned to beechnut

[2014-02-22 19:47] #24 closed, assigned to nobody

[2014-02-22 19:54] ohnorobo opened #32 "Infobox shows information field even when there is no data"
![screenshot 2014-02-22 at 02 49 15 pm](https://f.cloud.github.com/assets/1127209/2238667/c0c660c4-9bfa-11e3-9817-bf5c295d62be.png)

And probably shows the titles for all the fields even when they're missing data. The templating should change to skip missing fields entirely.

[2014-02-22 20:21] ohnorobo opened #33 "Minimal config file"
I'd like to make make the site as data driven as possible, while still allowing people to fine tune things with the config file if they want.

Things in the config file that might be possible to replace with sensible defaults:
map.center - calculate the center of the data
map.zoom - pick a good default zoom level
map.bounds - no default boundaries
max.zoom - hardcode this in based on the resolutio

[2014-02-22 21:05] ohnorobo commented on #32
![screenshot 2014-02-22 at 04 04 52 pm](https://f.cloud.github.com/assets/1127209/2238846/0e80c674-9c05-11e3-9192-53e150a74352.png)

Now it looks like this.

[2014-02-22 21:17] paulswartz commented on #12
I have a basic version of this up on my fork: http://paulswartz.github.io/finda/

[2014-02-22 21:25] paulswartz opened #35 "JSBin-style UI to play with the data"
[JSBin](http://jsbin.com/) gives people an easy way to show off little snippets they've written.  It would be nice if Finda had an interface that had Finda on one side, and config/data boxes on the other.  Then users could put data right into the page and immediately see what it would look like.

[2014-02-22 21:26] #32 closed, assigned to nobody

[2014-02-22 21:42] paulswartz commented on #10
It would be interesting to see what some non-point based data (something like the data for willtheytow.me) looks like as well.

[2014-02-22 21:46] ohnorobo commented on #12
Me gusta.

One thing that comes up poking around is if we want to display this using AND or OR filtering.

It looks like what's currently has going on is AND filtering.
- start out with no facets selected and displaying all data
- when a facet is selected display only the items with that facet
- when more than one facet is selected display only data which meets facet1 AND facet2 AND facet3 ... etc

[2014-02-22 21:52] paulswartz commented on #12
Currently, it's actually /more/ confusing; it's AND filtering if the underlying data is a list of options, but OR filtering if it's a single value.  I'd love to have Hannah check it out though, and see what she/they think.

[2014-02-22 22:25] paulswartz commented on #12
Oh, and I did have a rationale for the AND/OR, despite the confusion.  I figured that if you were selecting some services, you'd want to see the locations that had all of those services since you needed multiple things.

[2014-02-22 22:27] paulswartz opened #37 "list view"
There should be a way to see a list of the items, in addition (or instead, in the case of mobile) to the map view.

[2014-02-22 22:30] paulswartz opened #38 "link to repository"
There should be a link in the app to the repository so users have a way to get started with contributing.

Perhaps this is something for #14?

[2014-02-23 01:23] paulswartz opened #39 "figure out a color scheme"
Right now, the default grays aren't particularly exciting, especially in contrast to the OSM map tiles.  It would look much nicer with some color.

Ideally, this would be commented well in styles.css so that it's clear what needs to be updated if other users of Finda want to update the visual style to match their own group's style.

[2014-02-23 13:55] paulswartz opened #40 "Show current location"
Right now, when the user is geolocated the map centers on that location, but there isn't a visual indication of where that is.

[2014-02-23 18:52] paulswartz opened #41 "Make features linkable"
- When a feature is selected, the hash (part after a #) should update with an ID for the feature
- if the page is loaded with a hash that matches a feature, it should select that feature

[2014-02-23 19:48] paulswartz opened #42 "allow overriding the visual display for features"
Currently, they're always displayed as a blue (grey if clicked) pin.  It should be possible to have them displayed with different images.  Ideally, it would be possible to tie the image to a property in the GeoJSON file, so different types of features could be visually distinguished.

[2014-02-24 02:22] WheresHJ commented on #14
Might also want to have something in the config file that lets an admin user put in some custom descriptive text or maybe a custom image.

[2014-02-24 15:20] WheresHJ opened #45 "Explore Ohana integration"
Since a lot of the datasets to be used by Finda may be public-services related, maybe we should look into a dead-simple integration with [Ohana API](http://ohanapi.org/) as a configurable alternative to local JSON.

[2014-02-24 16:38] ohnorobo commented on #38
There's also all that nice real-estate over on the right of the search bar.

[2014-02-24 17:10] paulswartz opened #46 "Developer documentation"
We recently added better docs for users. We s should also have some getting-started docs for developers:
- links to docs for the libraries we're using
- how the code is organized
- code expectations (tests, organization, &c)?
- style guide?

[2014-02-25 04:16] ohnorobo commented on #20
I've been looking into switching to mapbox as a tile provider, since they offer close integration with leaflet, and have [lovely](https://www.mapbox.com/tour/) default tiles.

I'm hitting what look like require problems though. @paulswartz if you get a chance could you take a look?
https://github.com/ohnorobo/finda/compare/mapbox

[2014-02-25 04:32] paulswartz commented on #20
@ohnorobo it looks like instead of being an attribute, you've made the leaflet instance into the component. All you should need to do is change how 'this.map' is initialized; it's towards the bottom of the file. If you open a pull request I can give you more specific feedback.

What's the usage like on Mapbox? The last time I looked it cost money to use? But they do look nice!

[2014-02-25 05:24] ohnorobo commented on #20
https://github.com/codeforboston/finda/pull/47

That was my impression as well, but willtheytow.me seems to be using them without any sort of api key. @carpeliam do you know?

https://www.mapbox.com/plans/?period=year
vs
https://developers.google.com/maps/faq#usagelimits

[2014-02-25 18:17] carpeliam commented on #20
I haven't done any actual development on willtheytow.me, though when I first saw the email I think I remember seeing some API keys. You might want to check with @beechnut or @thecristen.

[2014-02-25 21:52] thecristen commented on #20
No API key or anything for willtheytow.me. Totally free. Don't know what we're gonna do if our map views hit 3k/month I suppose. Hm.

[2014-02-25 22:42] paulswartz commented on #20
@thecristen is it possible that it's using the CoUrbanize keys?

[2014-02-26 00:43] paulswartz commented on #12
![screenshot 2014-02-25 19 39 12](https://f.cloud.github.com/assets/214921/2265289/c4720652-9e7e-11e3-9a25-84bee61757f2.png)

Amazon does it by changing the numbers next to the checkbox to reflect the number of items which will remain when that's clicked.  "Featured Brands" is an OR search; "Features & Apps" is an AND search. I'll try to play with that soon.

[2014-02-26 01:03] paulswartz commented on #46
Perhaps this should go in the Wiki instead of the repository?

[2014-02-26 01:33] paulswartz commented on #20
@calvinmetcalf pointed me to http://leaflet-extras.github.io/leaflet-providers/preview/index.html which has a bunch of providers which don't require use to get an API key or depend on something we might have to pay for.

I'm partial to OpenStreetMap.HOT, MapQuestOpen.OSM, Stamen.Terrain, and Acetate.all.

update: on reflection, I think Acetate is the best of those, in that it looks nice but stays

[2014-02-26 01:56] calvinmetcalf opened #48 "Make a "built" version"
live version via watchify

[2014-02-26 02:05] paulswartz commented on #48
[Browserify](http://browserify.org/) is a npm package which bundles all the code into a single file.  It makes loading the page faster since it needs to load fewer files.

[2014-02-26 02:09] calvinmetcalf commented on #48
node package

[2014-02-26 02:27] paulswartz commented on #46
Libraries: Flight, Leaflet, Jasmine (tests)

[2014-02-26 02:59] paulswartz opened #51 "Update config.documentation.md"
[config.documentation.md](config.documentation.md) is slightly out of date:
- doesn't include `project` or `search` or `geojson_source`
- maxZoom should say what the highest value is (18?)
- properties documentation:
  - should include 'image'
  - should be clearer that having an empty property list in the config displays the property value as plain text
  - (maybe) clarify that the properties get

[2014-02-26 03:22] paulswartz opened #52 "Switch to OpenStreetMap geocoder"
@calvinmetcalf pointed out that we're in violation of the Google TOS by using their geocoder without the maps. We should switch to the OSM geocoder.

[2014-02-28 04:15] paulswartz commented on #12
Finally got around to implementing a basic version of the faceting counts: http://paulswartz.github.io/finda/

Known issues:
- clicking on the text doesn't toggle the checkbox
- the filtering of the facets is connected, but checking a Service doesn't update the counts or options of the Categories
- related:, if you filter so far there are no displayed values for a facet, the title is still display

[2014-03-01 21:26] alexisylchan commented on #46
I added a finda.wiki.git submodule https://github.com/alexisylchan/finda/wiki/Home/c67751ef451b488c99599ef0fd9654e5bf27f2cd

but it's not showing up in https://github.com/alexisylchan/finda/wiki

[2014-03-01 21:44] paulswartz commented on #46
I you don't need to add finda.wiki as a submodule; it's a separate repository.  Have you also committed/pushed your changes in the wiki repository?

[2014-03-01 21:45] paulswartz commented on #46
Oh, I see; you checked them into a different branch, but the Wiki only works off of the `master` branch.

[2014-03-01 21:47] paulswartz commented on #46
You can edit the pages directly, as well: https://github.com/codeforboston/finda/wiki/Home/_edit

[2014-03-01 22:06] alexisylchan commented on #46
Thanks - I created a master branch and now the images are linked correctly here https://github.com/alexisylchan/finda/blob/master/finda.wiki/Home.md but not in the wiki https://github.com/alexisylchan/finda/wiki

[2014-03-01 22:14] paulswartz commented on #46
Seems like you may need to update the image URLs: http://stackoverflow.com/questions/10045517/embedding-images-inside-a-github-wiki-gollum-repository#answer-14931420

[2014-03-01 22:26] alexisylchan commented on #46
Apparently I just missed adding wiki/ to the relative path. Thanks.

[2014-03-02 02:09] paulswartz commented on #12
I think I've addressed those issues; I opened up #55 to merge it in.

[2014-03-02 02:42] #12 closed, assigned to paulswartz

[2014-03-02 03:20] paulswartz opened #56 "Add a "clear" link to the facets"
When values are selected for a facet, there should be a clear link which resets the state.

#12 has a relevant screenshot.

[2014-03-02 17:43] paulswartz opened #57 "[discuss] refactor CSS so it's clear what's "needed" and what's user-configurable"
Right now, there are parts of [style.css](https://github.com/codeforboston/finda/blob/gh-pages/styles/style.css) which configure things for the user (the #phone_number/#address/#organization_name lines) and the rest which set up the default styles for Finda.  For clarity, maybe this should be refactored, either:
- moving the Finda-defaults into a file we `@import` from `style.css`, or
- moving the

[2014-03-02 19:02] paulswartz commented on #46
Thanks to @alexisylchan there's now content on the Wiki!  There's user documentation at [Getting Started](https://github.com/codeforboston/finda/wiki/Getting-Started) and some initial developer docs at [Developing Finda](https://github.com/codeforboston/finda/wiki/Developing-Finda) and [Development Resources](https://github.com/codeforboston/finda/wiki/Development-Resources).

[2014-03-04 07:46] #14 closed, assigned to StillwellMedia

[2014-03-04 08:18] ohnorobo commented on #51
All the stuff on config.documentation.md should be moved to its own wiki page. The file in the repo should be removed.

[2014-03-04 08:20] ohnorobo commented on #51
https://github.com/codeforboston/finda/wiki/Configuration

[2014-03-04 08:54] ohnorobo commented on #45
Ohana serves up data in a special subset of json
https://github.com/codeforamerica/hsd_specification/blob/master/HSD_specification.mdown

It also requires token access, (although you can get a limited amount of data without a token.)

Our best bet for a drop in replacement would be to craft a generic give-me-all-location query against the given ohana instance like
http://ohanapi.herokuapp.com:80/a

[2014-03-04 13:07] #20 closed, assigned to nobody

[2014-03-04 22:53] paulswartz commented on #38
Done as a part of #14.

[2014-03-04 22:53] #38 closed, assigned to nobody

[2014-03-04 22:54] paulswartz commented on #51
This should still get done, just as a part of the above Wiki page instead of in the repo.

[2014-03-05 00:50] paulswartz opened #62 "offline (AppCache) support"
Not sure we want to support this in the default Finda installation (since we'd have to update it on pulls), but we should at least document how to use the application cache to make Finda work offline.

[2014-03-05 00:54] ohnorobo commented on #51
Added more documentation. I wasn't sure about images in properties, or how to succinctly explain faceting.

[2014-03-05 02:07] #52 closed, assigned to paulswartz

[2014-03-05 02:21] ohnorobo opened #65 "Display only points visible on the screen in facet counts"
Look into leaflet's bounding box functionality.

http://leafletjs.com/reference.html#latlngbounds

[2014-03-05 02:22] davidlago commented on #57
Modified config page in wiki to point to the new properties.css file for info box styling.

[2014-03-05 02:22] paulswartz commented on #57
Closed by #64.

[2014-03-05 02:22] #57 closed, assigned to davidlago

[2014-03-05 02:28] paulswartz opened #67 "close button for info popup"
Right now, once you've clicked on a facet there's no way to close the popup.  Especially on mobile, this makes the app hard to use.

[2014-03-05 02:29] ohnorobo commented on #29
possible: https://github.com/bmcbride/bootleaf

[2014-03-05 02:33] paulswartz opened #68 "handle facets on mobile"
The facets take a big chunk of the page on smaller screens. Some things I can think of:
- have the facet popup roll up to just show a title, and then tap on it to unroll
- have a set of tabs at the top (like Pantry Pickup) and include a "Filter" tab
- have an icon at the bottom to reveal the facets, and a close button to hide again

[2014-03-05 02:34] paulswartz commented on #29
opened #67 and #68 for some smaller issues related to this.

[2014-03-05 02:46] #51 closed, assigned to nobody

[2014-03-05 02:52] paulswartz opened #69 "searching for features by name"
Needs some discussion about how it works.

[2014-03-05 02:56] paulswartz opened #70 "logo"
All good projects have a logo.

[2014-03-05 03:04] paulswartz opened #71 "rolling up menu doesn't work"
Once you've opened the collapsed menu (small screen) it doesn't roll back up.

[2014-03-05 03:06] paulswartz opened #72 "after geocoding, zoom based on the type of returned result"
[Nomatim](http://wiki.openstreetmap.org/wiki/Nominatim) returns the type of node with the result. We should zoom to an appropriate level for that base.

[2014-03-05 05:04] garbados commented on #69
How about this approach? http://stackoverflow.com/a/7533498/991961

This provides efficient, rapid, Lucene-like searching against all location properties.

The reference implementation seems to be missing, but I'd be happy to draft a new one.

[2014-03-06 02:21] ohnorobo commented on #70
magnifying glass over a map?

[2014-03-06 18:38] WheresHJ commented on #70
I had an idea. Have some others too, but just sketched this out.

![finda_logo_idea1](https://f.cloud.github.com/assets/642810/2348976/75680228-a55e-11e3-9b90-f2c249980fa8.png)

[2014-03-06 20:34] beechnut commented on #70
@WheresHJ: Pretty! It references how the data is in the cloud and the paper map is accessible for our non-tech audience.

I was thinking maybe the word "Finda" with a map marker as the "i", but after looking at Harlan's logo that feels like a step backward.

[2014-03-06 21:16] WheresHJ commented on #70
I tried to blend it a bit, but I'll let you guys judge. I tried the standard map marker, but then it started looking like "Fonda", so I switched to a pin and it was better.

![finda_logo_idea1a](https://f.cloud.github.com/assets/642810/2350768/95ea34ce-a574-11e3-9b3b-899393a67070.png)
![finda_logo_idea1b](https://f.cloud.github.com/assets/642810/2350769/95ea5800-a574-11e3-95ce-74641ceba303.png)

[2014-03-06 22:31] paulswartz commented on #70
I like the pin, but it looks a little weird since it's so much thinner than the rest of the text.  Maybe a lighter weight font, or a heavier pin?

[2014-03-06 23:05] #71 closed, assigned to nobody

[2014-03-07 03:32] paulswartz commented on #68
I mocked up two versions of this UI while I was waiting for the Red Line to figure itself out this morning:

![picture](https://f.cloud.github.com/assets/214921/2353716/f603b262-a5a7-11e3-829a-9d71a464be77.jpeg)
This one uses some of the desktop idea @WheresHJ had on Tuesday.  There's a filter bar just below the menu bar.  When clicked, it shows the existing filtering UI, with an 'apply' or 'filte

[2014-03-07 14:16] paulswartz opened #76 "add pull request "requirements" to documentation"
I don't really like the word "requirements" (is there a better word?), but there are some things that pull requests should have and we should write those down so we can point people at them.
- tests/lint should pass (`npm test`)
- Javascript changes should have tests
- documentation?
- other things?

It might also be good to a have a pointer to [codeforboston/lgbtq-data](https://github.com/codefor

[2014-03-07 23:43] #67 closed, assigned to nobody

[2014-03-09 02:32] paulswartz opened #77 "hook up (Google?) analytics"
It would be nice to track who's using Finda, what browser/OS they're using, and what they do with the app (do they search for addresses? Do they filter? How many features do they look at.

We should hook up some kind of analytics so that we can get some of this data, at least by default. Probably it should be configurable, so privacy-conscious groups can disable it.

[2014-03-10 00:27] davidlago commented on #77
Does Code for Boston have a Google Analytics account? If not, I can create one and add the hooks to finda's index.

[2014-03-10 00:32] ohnorobo commented on #77
If we have one @WheresHJ would know.

[2014-03-10 01:01] WheresHJ commented on #77
We do. Let's hook it up on Tuesday - and we definitely need to put in a way
out.

On Sunday, March 9, 2014, Sarah Laplante notifications@github.com wrote:

##

Sent from Gmail Mobile

[2014-03-10 20:24] paulswartz opened #78 "Automatically show the "closest" feature"
If we know where the user is (either via geolocation or by then searching for a location) and they don't have the infobox open, then we should open the closest one for them.

For now, maybe desktop only since the infobox takes up the whole screen?

[2014-03-11 00:30] paulswartz commented on #68
I also did a simple version:
![picture](https://f.cloud.github.com/assets/214921/2380873/3820ab6e-a8b4-11e3-9ec6-3099b8eab676.jpeg)

Instead of big UI elements, there are just simple buttons at the bottom. One to open the filtering UI, the other to open the search box.

[2014-03-11 02:41] WheresHJ commented on #68
I tend to not like primary action buttons at the bottom of a webapp because
there can be a slight usability issue due to the proximity of the web
toolbar (on iPhone) or the physical buttons (on Android). However, the
just-button idea is interesting - you'd have to make the buttons very
visually distinct from the map.

Harlan Weber
Designer | Researcher
http://www.hjweber.net

On Mon, Mar 10, 2014

[2014-03-11 07:30] ohnorobo opened #80 "selecting an icon removes its icon shadow"
and it stays removed even when you select another icon

[2014-03-11 07:32] ohnorobo opened #81 "checking or unchecking a facet deselects the selected map icon"
even if the icon is still visible under the new facets.

[2014-03-11 18:11] ohnorobo commented on #77
One thing to keep in mind. This is eventually going to be split into two repos. The 'upstream' repository that people fork to start their own websites (which will keep thus url), and a dedicated site for the lgbtq data. We definitely don't want to have our personal google analytics set up in the first one.
That might be a long way off though, and it's a pretty easy thing to remove when the time co

[2014-03-12 00:24] paulswartz opened #83 "when hovering over a feature, should show the name"
Might need to add a config element for which property is the name.

[2014-03-12 01:19] paulswartz opened #84 "allow changing the features and exporting updated GeoJSON"
For making admin updates, it would be nice if there was a mode which allowed changing the data for the feature and exporting the updated data.

[2014-03-12 01:32] beechnut opened #85 "Configure brand / logo"
Make a place for users to drop in a logo.

If they drop in a logo, the application name in the nav is replaced by the logo.

Should use sensible defaults re: sizing.

[2014-03-12 01:34] beechnut commented on #84
Ideally, this would allow deletion of features and simple editing of properties.

:+1:

[2014-03-12 01:37] paulswartz commented on #77
@beechnut says that we can use multiple Google tokens.  By default, we should use both a user-specified token and the @codeforboston token, so that we can see who's using Finda.

[2014-03-12 01:40] beechnut commented on #77
There could be a field in config.json like `private: false`, if set to `true` would not include our Google Analytics snippet.

[2014-03-12 01:45] beechnut commented on #48
Longer explanation: Deployers who have no intention of developing (out target user) should be able to download a zipped, minified version, add their config, and be done.

We'd browserify to reduce the number of JS files. User-editable CSS and config.json would be the same so folks can still configure.

Smaller size, fewer files, still configurable. :) Finda

[2014-03-12 13:31] paulswartz opened #86 "in about(?) on mobile, describe how to add Finda to your homescreen"
If people are going to use Finda instances on mobile, it'll be more convenient if it gets an icon on their homescreen like their regular apps.

Idea via http://www.quirksmode.org/blog/archives/2014/03/the_app_is_a_we.html

[2014-03-13 01:11] isaacchansky commented on #83
Thought I'd jump in on this issue as a way to get familiar with the codebase :)
Any existing ideas of how best to show the name (i.e tooltip or something right next to the cursor)?

[2014-03-13 02:55] paulswartz commented on #83
I think that Leaflet has something for this: http://leafletjs.com/reference.html.  You should be able to attach it with the setupFeature function; that's defined in src/map.js.

[2014-03-13 03:23] ohnorobo commented on #83
marker tooltips: http://leafletjs.com/reference.html#marker-title

[2014-03-14 02:55] isaacchansky commented on #83
Thanks for pointing me in the right direction @paulswartz & @ohnorobo . I added a new config property of "preview_attribute" to specify the property you want as display text.

https://github.com/isaacchansky/finda/commit/c1cef139bf91246f2a92ddc4523579624e3dee64

![screen shot 2014-03-13 at 10 37 38 pm](https://f.cloud.github.com/assets/1397914/2417517/b159f10a-ab22-11e3-852c-6250fa2d8810.png)

The

[2014-03-14 04:41] ohnorobo commented on #83
One nice thing about this project it that it automatically throws up a website when you fork it. So if you want to show people your work (on your gh-pages branch) you can just link to http://isaacchansky.github.io/finda/

[2014-03-14 16:11] isaacchansky commented on #83
Thanks @ohnorobo , kind of missed the core concept there didn't I... >.<
Will do from now on!

[2014-03-16 20:35] #77 closed, assigned to paulswartz

[2014-03-17 02:47] ohnorobo commented on #48
https://github.com/blog/1547-release-your-software

[2014-03-17 02:50] paulswartz commented on #48
Exactly! I think this is going to be what I'm focused on for the week.

[2014-03-17 09:42] calvinmetcalf commented on #48
+1 to using browserify with this, and converting the and modules to common
js
On Mar 16, 2014 10:50 PM, "Paul Swartz" notifications@github.com wrote:

[2014-03-17 13:01] paulswartz commented on #48
@calvinmetcalf I like the simplicity of Browserify, but is there a way to make the packages such that it the app works without having to go through the build step?

[2014-03-17 13:14] calvinmetcalf commented on #48
so you mean having common.js but have it work as separate files and as a bundle? Yes you can use [curl](https://github.com/cujojs/curl) as a module loader which has the ability to do commonjs, though your best bet no matter what the build system is to have the config and the data outside the bundle so that if you need to make changes you only need to change those 2 files so that the only people th

[2014-03-17 13:23] paulswartz commented on #48
The workflow that works currently, and that I'd like to have continue to work is:
1. Fork the Finda repo
2. Edit a JS file to add a feature, either through the web interface or locally.
3. Commit that change.
4. Have their change reflected on their Github Pages version.

If there's a way to have that happen with Browserify the way that it currently does with RequireJS, I'd love to know about it.

[2014-03-17 13:34] calvinmetcalf commented on #48
yes, but it has the ability to omit the commonjs wrapper around the files, the other option to look into is https://github.com/jaredhanson/deamdify which allows you to use browserify in amd files

[2014-03-19 00:52] paulswartz commented on #68
@WheresHJ:
![picture](https://f.cloud.github.com/assets/214921/2455514/ade07c9c-af00-11e3-891f-1ba61476d57f.jpeg)

[2014-03-19 01:59] paulswartz opened #93 "Make sure Finda is accessible"
It should be possible to interact with Finds:
- with the keyboard
- with a screen reader
- if you're color blind

Bootstrap has some docs, and there are some testing resources online.

[2014-03-19 03:19] ohnorobo commented on #93
:+1:

[2014-03-19 12:49] isaacchansky opened #94 "When closing info section, tooltip does not re-bind to the icon/feature."
Whenever we replace the icon/feature (i.e change from blue to gray icon on click event) we have to rebind the tooltip to the feature w/ an offset to get it in the right spot. This does not happen when you close the info section & the icon reverts to default blue.

[2014-03-19 12:50] isaacchansky commented on #83
This is done in PR #89 . But, there is a bug introduced where if you _close_ an info box, the tooltip doesn't rebind to the 'new' icon when in changes from gray -> blue so it defaults to sit directly _over_ the icon. I've opened issue #94 for this.

[2014-03-19 23:05] paulswartz opened #95 "couple mobile issues post-#91"
![finda](https://f.cloud.github.com/assets/214921/2467228/e00b1122-afba-11e3-8d49-e49d24b3a75b.png)

[2014-03-19 23:09] paulswartz commented on #95
The 'About' page is a bit wonky as well.

[2014-03-20 18:18] WheresHJ commented on #95
Yup, I'll address all that when I do the mobile CSS. Let's catch anything else that seems busted here.

[2014-04-01 23:52] #48 closed, assigned to nobody

[2014-04-02 00:28] #80 closed, assigned to nobody

[2014-04-02 00:32] paulswartz commented on #70
We went without the pin for now.

[2014-04-02 00:32] #70 closed, assigned to nobody

[2014-04-02 00:34] paulswartz commented on #94
Closed by #97.

[2014-04-02 00:34] #94 closed, assigned to nobody

[2014-04-03 13:57] isaacchansky commented on #93
[paypal has this bootstrap accessibility plugin](http://paypal.github.io/bootstrap-accessibility-plugin/) which I haven't gotten a chance to play with yet but might help us out with a few basic issues.

[2014-04-23 16:50] beechnut commented on #84
#### togeojson.com

There's a http://csv.togeojson.com and http://arcgisjson.togeojson.com. Users could convert their data there and bring the data into Finda.

If we go this route, we should write docs / tutorials for users on how to do this.

#### Less promising: SeedFu

The gem [SeedFu](https://github.com/mbleigh/seed-fu/) has a [Writer module](https://github.com/mbleigh/seed-fu/blob/master/lib

[2014-05-03 04:23] ohnorobo opened #99 "Display service level 1 categories on the map"
Direct from Hannah

data is here: https://drive.google.com/folderview?id=0B2sE9vZychjgaGpsRjVZTFdvTWs&usp=sharing

[2014-05-03 04:34] ohnorobo commented on #99
on the spreadsheet this is "revised service class: level 2"
in the json/geojson it's "service_class_level_2"

[2014-05-03 04:36] ohnorobo commented on #99
the youth categories mentioned are "Erika's categories" on the spreadsheet
"youth_category" on the geojson

[2014-05-03 04:39] ohnorobo commented on #99
I've parsed the level 2 classes incorrectly, they should be split on semicolons, but they're just listed as long strings.

[2014-05-16 22:50] ohnorobo commented on #99
Also #102

[2014-05-16 22:52] ohnorobo opened #103 "zip code search doesn't work on ie"
From: Hannah, 05/16/2014
I also tested this on Internet Explorer, and it doesn’t seem to provide an option to search by zip code. Is that something that you’re still working on?

works in Firefox/Chrome/Safari

[2014-05-16 23:06] ohnorobo opened #104 "Transit Directions"
Include a directions link in the info card which links to gmaps/similar. re: https://github.com/codeforboston/pantry_pickup/commit/21f19405e5e69ec1c8aecfd580ce41c7b3f5ac7c

Potential extras:
- hook into native maps for mobile users.
- In map routing for leaflet (using mapquest) http://developer.mapquest.com/web/documentation/plugins/leaflet/v1.0/routing But I'm not super enthused about it.

[2014-05-20 23:12] #99 closed, assigned to nobody

[2014-05-21 14:26] ohnorobo opened #106 "When selecting an icon and then another the tooltip gets rebound to the old icon incorrectly and you can't click it again."
To reproduce:
- click on item A
- click on item B
- try to click on icon A again, see that the tooltip appears over the icon and the mouse flickers.

Seems like it's related to #94

[2014-05-21 17:51] ohnorobo opened #107 "change the color scheme from the config file"
The current color scheme is white/gray with a highlight color (purple).
https://github.com/codeforboston/finda/blob/gh-pages/styles/style.css <- every note about brand primary/accent color.

It would be cool to just have a "purple" property in the config file, and then build the needed css properties in js. This would involve being able to darken certain specified colors on the client side too.

[2014-05-23 20:06] isaacchansky commented on #37
I'd like to play with this feature, any existing thoughts how we want to do this?

[2014-05-23 20:30] ohnorobo commented on #37
Sample implementation here: http://www.pantrypickup.org/

I really like the
select an item on the map <=> select an item on the list
flow

Questions:
- how should this interact with faceting? Should both be allowed
  simultaneously?
- Should we display all the data in the list? The subset visible on the
  map? Something else?
- Should the list be sorted? (proximity?)

On Fri, May 23, 2014 at 4:06

[2014-05-23 20:46] WheresHJ commented on #37
Paul and I diagrammed this, we have it someplace. I'll look.

Harlan Weber
Designer | Researcher
http://www.hjweber.net

On Fri, May 23, 2014 at 4:30 PM, Sarah Laplante notifications@github.comwrote:

[2014-05-28 00:12] ohnorobo commented on #106
selecting or unselecting any facet fixes the tooltip binding.

[2014-05-28 00:25] #106 closed, assigned to nobody

[2014-05-28 00:31] ohnorobo opened #109 "Include the zoom controls on the map"
Not having zoom controls makes it difficult to navigate the map if you don't have a trackpad of a mouse with a scroll wheel.

[2014-05-28 01:14] ohnorobo commented on #107
http://stackoverflow.com/questions/5560248/programmatically-lighten-or-darken-a-hex-color-or-rgb-and-blend-colors

http://bgrins.github.io/TinyColor/

[2014-05-28 01:33] #109 closed, assigned to nobody

[2014-05-28 15:02] WheresHJ opened #112 "Hook up getfinda.com to ...something"
In the short term, I recommend we hook it up to the Finda wiki; in the medium term, we should look into a full-scale landing page.

[2014-05-28 15:34] beechnut commented on #112
I'll set up a URL redirect.

[2014-06-06 18:07] beechnut commented on #69
How about fuzzy search on all attributes?

My colleague @arminakvn just showed me this: https://github.com/naomap/leaflet-fusesearch, implemented here: http://www.naomap.fr/. Fuzzy search on all attributes in a GeoJSON layer.

[2014-06-06 18:22] ohnorobo commented on #69
This is pretty slick. The only downside is it doesn't seem to be well
integrated with location search yet. (Try searching for street names.)

I really like the interface though. This would make a good alternative to
some of the facet search workflows we were looking into.

On Fri, Jun 6, 2014 at 2:07 PM, Matt notifications@github.com wrote:

[2014-06-07 02:50] beechnut commented on #69
Good news: that's only because they didn't index the addresses!

[code]

But we can.

[code]

[2014-06-10 23:53] paulswartz commented on #112
ping?

[2014-06-10 23:58] paulswartz commented on #69
Fuse.js/leaflet-fusesearch seem great!  Now the question is just about how the UI/UX should work.  It'd be nice to be able to re-use it for this, but that's a lot of work for a humble box...

[2014-06-11 00:42] ohnorobo commented on #39
Harlan picked purple in #91, changing colors is addressed in #107.

[2014-06-11 00:42] #39 closed, assigned to nobody

[2014-06-11 00:45] ohnorobo commented on #10
Patrick Tai expressed an interest in mapping pothole data. Which is now available in the cambridge open data portal.
https://data.cambridgema.gov/Public-Works/Pothole-Repair-Requests/h2y4-rf5c
https://data.cityofboston.gov/City-Services/Closed-Pothole-Cases/wivc-syw7

[2014-06-11 00:46] ohnorobo commented on #69
It's definitely a very different flow from the current search.

Currently we get a string -> geocode it using another magic service ->
move the user to that geocoded location

Whereas this searches properties and maybe filters on them on the map.

It would be nice to be able to let people put in either of those things
and have some 'address-like' heuristic deciding what to do, but that's
probably

[2014-06-11 00:52] paulswartz commented on #69
I'm going to play around with re-using the search box, and have the workflow be the following:
- type in the search box, and show any matching results
- selecting a matching result will scroll the map to that result and open its info
- hitting enter when there's a result will also select that result (not sure about this one)
- if there aren't any results and the user hits enter, we'll search for t

[2014-06-11 01:58] paulswartz commented on #69
You can play around with this feature at http://paulswartz.github.io/finda/

[2014-06-11 15:00] beechnut commented on #69
Thanks, Paul -- it's really helpful to be able to play with it.

I think having one search box could work well. Here's what I'm finding as I start to use it:
- Showing matching results immediately is really nice -- if users have an idea of what they're looking for, they can go for it.
  - Presently, it only shows the top 5 results, and there might be a lot of results that match a person's query, e

[2014-06-18 03:59] ohnorobo commented on #10
Harlan mapped assisted Housing Offices
http://whereshj.github.io/housing-finder
https://github.com/WheresHJ/housing-finder

[2014-06-18 04:03] ohnorobo commented on #10
Tim Wisniewski used it for Philly Crime Data
https://github.com/timwis/finda-arcgis
http://timwis.github.io/finda-arcgis/

[2014-06-19 20:11] ohnorobo opened #116 "Better default map positioning"
When there is no default 'center' position in the config use the median of the displayed points.

[2014-06-19 20:17] beechnut commented on #116
Would it make sense to use the viewer's location as a default?

Clarifying question: How do you define median? Right now I'm thinking center of the bounding box.

[2014-06-19 20:30] ohnorobo commented on #116
Viewer location doesn't make sense if all the data is in another city.
This is specifically motivated by http://timwis.github.io/finda-arcgis/ which uses data in Philly.

I also think the browser geolocation we have currently should get a config toggle and be off by default.

I don't really have an opinion about the details, median just seemed like an easy-to-implement heuristic that we could iter

[2014-06-19 21:30] beechnut commented on #116
Good point about other cities.

The center of the bounding box of the data is one spatial implementation of that heuristic (and a light-on-computation one at that, if I understand bounding boxes correctly).

If we're considering zoom, Leaflet has `map.fitBounds(featureGroup)` to zoom & pan to the extent of the data. This would make the whole dataset viewable on load, and would prevent even the wor

[2014-06-23 04:26] ohnorobo commented on #104
Turns out this requires converting the properties object to a list so the 'address' element can be used twice. (Objects don't allow duplicate keys.)

[2014-06-23 04:27] ohnorobo commented on #37
https://github.com/isaacchansky/finda/compare/feature;list-view

[2014-06-24 23:48] isaacchansky commented on #83
Pretty sure this is solved... cool to close this issue?

[2014-06-25 02:40] #83 closed, assigned to nobody

[2014-07-09 00:13] ohnorobo opened #117 "Credit and email link for bad data"
Add something like

"Data from Boston Commission on LGBTQ youth/etc, if this data is incorrect or unhelpful please email us at xxx@boston.gov"

to the bottom of the infobox.

Copy and email forthcoming from @jdormz

[2014-07-09 00:16] ohnorobo opened #118 "Add info to the about page"
Non-dev users of this product want to know about the data sources (Fenway Health and DPH) not about Code for Boston. Add that information to the top of the about page.

needs copy.

[2014-07-10 23:58] ohnorobo opened #120 "Allow users to specify icons for different types of locations"
example: http://locator.aids.gov/

This would probably only work for non-list categories, and there would probably need to be some way to indicate which icon corresponded to which category.

We've had requests for something like this a few times now.

[2014-07-11 16:54] beechnut commented on #93
It only does so much, but http://accesslint.com/ will help a little.

[2014-07-16 02:26] #104 closed, assigned to nobody

[2014-08-12 10:58] paulswartz commented on #69
Haven't written tests yet, but new code is up: http://paulswartz.github.io/finda/

[2014-09-10 04:21] #69 closed, assigned to nobody

[2014-09-10 20:19] beechnut commented on #84
Hey all. I'm at FOSS4G right now and they're using geojson.io for data editing. It seems to have both geo and table views, and you can change positions etc in there.

I recommend we play with geojson.io, and if we like it, write up a tutorial for Finda deployers.

[2014-10-23 22:19] beechnut commented on #112
Set it up. Points to wiki.

[2014-10-23 22:19] #112 closed, assigned to beechnut

[2014-11-19 00:52] paulswartz opened #130 "add a scale to the map"
We should display a scale on the map, similar to what Google Maps does.

I believe there's a Leaflet plugin we can use for this.

[2014-11-19 00:53] paulswartz opened #131 "put something on the map for the searched location"
Right now, we display a small circle on the map for the user's current location. We should repurpose that circle for whatever location the user last searched for if they used the search box.

[2014-11-19 00:56] paulswartz opened #132 "ability to limit results to just what's visible on the map"
We have filtering for features that are present in the data, but it would be nice to limit the filters and list view to just what features are currently visible.
- The filter should appear in the "filters" sidebar
- The filter should update if the user scrolls or changes the zoom level
- The filter should have the ability to default to being on

[2014-11-19 00:59] paulswartz opened #133 "investigate speed issues with larger datasets"
When looking at [Housing Finder](http://whereshj.github.io/housing-finder), Luella got the "unresponsive script" error from Firefox. The clustering added earlier has helped with larger datasets, but we should take another look to see if there are other optimizations we can do.

One thing off-hand is to give each feature an ID on load, and then pass around those IDs when performing some operations,

[2014-11-19 13:57] paulswartz commented on #130
http://leafletjs.com/reference.html#control-scale

[2014-11-20 21:36] WheresHJ opened #134 "Points won't ungroup at the lowest zoom level"
In our demo, we encountered two points that were so close that they didn't separate, even at the lowest zoom level. We should probably make it so that all point separate at the lowest level.

[2014-11-20 21:40] WheresHJ opened #135 "Pop-up bubble text for clusters"
Based on concerns about usability, we had a request from EEC to put a hover bubble over clusters with information about the number of providers in the cluster.

[2014-11-20 21:46] WheresHJ opened #136 "Filters to add"
We should add the following filters to the Child Care finder data:
- Transportation
- Meals Provided: Yes / No
- Special Needs: Yes / No
- Financial Assistance Accepted: Yes / No
- Schedule
  - Duration
  - Full time / part time
  - Before / after school
  - Open holidays
  - Drop-in care

[2014-11-20 21:46] WheresHJ opened #137 "Adds to list view"
We should add the following fields to the list view for Child Care finder:
- Phone number
- City, State, ZIP

[2014-11-27 16:16] #130 closed, assigned to nobody

[2014-12-04 01:21] #131 closed, assigned to paulswartz

[2014-12-16 18:23] paulswartz commented on #135
Do you remember more details about this? The clusters already have the number of providers listed, and I'm not sure what other information we'd display there.

[2014-12-16 18:24] paulswartz commented on #133
Closed by #138

[2014-12-16 18:24] #133 closed, assigned to paulswartz

[2014-12-16 18:26] paulswartz commented on #65
This should be resolved by #132.

[2014-12-16 18:26] #65 closed, assigned to nobody

[2014-12-16 18:26] paulswartz commented on #37
This got merged a while back.

[2014-12-16 18:26] #37 closed, assigned to nobody

[2014-12-16 18:27] paulswartz commented on #40
Fixed by #115

[2014-12-16 18:27] #40 closed, assigned to nobody

[2014-12-17 00:28] #132 closed, assigned to paulswartz

[2014-12-17 14:59] #134 closed, assigned to paulswartz

[2015-02-21 17:22] alexsoble commented on #137
__Love__ this enhancement idea!

My team was talking the other day with the folks who run Somerville's Early Childhood hub: http://somervillehub.org/. They have lots of info on early childhood care options... but __no map__! They said they have been dreaming and talking about having a searchable/filterable map for a long, long time.

If we could filter by city, that would be a fantastic step in th

[2015-02-21 18:30] alexsoble opened #145 "Filter child care finder by city"
Hello Finda friends!

My team was talking the other day with the folks who run Somerville's Early Childhood hub: http://somervillehub.org/.

They have lots of info on early childhood care options on their website... __but no map__! They said that they have been dreaming and talking about having a searchable/filterable map for a long, long time.

If we could filter the map view by city, that would

[2015-02-23 00:39] #145 closed

[2015-02-23 10:06] drewrwilson commented on #145
:+1:

[2015-02-23 15:00] alexsoble opened #146 "Too slow when data set is large"
When larger datasets come into play, the loading/filtering is too slow for the app to be practical. Child care finder: http://codeforboston.github.io/child-care-finder/. Testing from home, takes around 20 seconds of loading before I can interact and another ~20 seconds when I click on a filter or map. Maybe caching could help here? Or loading less data? The map initializes with a view of the Bosto

[2015-02-25 04:12] radumas opened #147 "gh-page hosting doesn't seem to work in fork"
According to the wiki, the hosting part should already be handled if I forked the project on github.

But this would not appear to be the case, since I get a 404 when navigating to http://radumas.github.io/finda

[2015-02-25 04:34] paulswartz commented on #147
Hey there!

It looks like your user page at radumas.github.io is interfering with the project page for Finda. You might try looking at the documentation for Github Pages; I'm not sure why they don't work together.

[2015-02-25 16:48] radumas commented on #147
Hey Paul,

Close. It seems one has to commit something, anything, to the gh-pages branch in order for github to start hosting that project. Presumably anyone modifying the project with their own data would do that at some point before expecting to see a webmap rather than me, who was skipping some steps just to see what finda looks like when hosted on my own github page.

Thanks,

-Raphael

[2015-02-26 19:35] radumas commented on #146
Do you now how many datapoints are in that set? I'm having a hard time testing finda with my own dataset (originally 924, now down to 100) and seeing whether the interminable loading is a bug I've introduced or the dataset.

[2015-03-04 00:26] alexsoble commented on #146
Based on [GitHub's data.geojson visualization](https://github.com/codeforboston/child-care-finder/blob/gh-pages/data.geojson), it looks like there are 8,260 points in the child care finder set.

[2015-03-04 01:05] djq commented on #146
Would something like http://turfjs.org/ help? You'd still need to load the data (somewhere) but it could be filtered to the map bounding-box, which would speed up rendering

[2015-03-04 01:24] paulswartz commented on #146
There is some filtering already; if you let the data load you can see a "limit to map" check box in the filters. The way it works is by loading the data, and then using the map bounds to limit what is displayed by the map/list.

I recently did some work around making the performance better, but I'd love for someone else to look into it too!

[2015-03-04 01:42] #147 closed

[2015-03-06 17:53] radumas opened #148 "Compatibility with SODA"
Similar to [ Explore Ohana integration #45 ](https://github.com/codeforboston/finda/issues/45).

The SODA API seems to be a great and simple way to access open city/government data, and one can request data in JSON format with locations (but not geoJSON). It would be nice to have finda be able to interface directly with these, so that maps could be updated when the data updates.

I found [this pro

[2015-03-06 20:27] ohnorobo commented on #148
I would be cool if we could do the conversion in js so it would be all client-side and wouldn't require any hosting.

[2015-03-06 20:29] radumas commented on #148
Yayaya! I meant to imply that. Not a js/github expert so wasn't sure what would be possible.

[2015-03-12 18:09] radumas commented on #146
A thought: Could it be the enabling text-searching that builds an index when the site first loads that takes a lot of time for larger datasets?

[2015-03-12 19:48] paulswartz commented on #146
There's also the index we build for the filter on the sidebar, and adding
that many points to the map in the first place.

On Thu, Mar 12, 2015 at 2:09 PM radumas notifications@github.com wrote:

[2015-03-16 21:48] radumas commented on #148
So I found [GeoJSON.js](https://github.com/caseypt/GeoJSON.js), which seems like it should easily do the conversion. I added geojson.js & geojson.min.js to the /lib, and then tried modifying the require.js stuff in script.js, plus adding an import in /src/data/geojson.js as well as some code to handle querying the SODA api. But it doesn't appear to be playing well with require.js (it's written for

[2015-03-29 20:36] alexsoble commented on #146
@paulswartz @radumas -- Will you be at CfB this Tuesday? I'll be there, let's pair on this together if we can both make it!

[2015-04-05 21:02] radumas commented on #148
I.... sort of got this to work in a somewhat inelegant way.
1. I installed GeoJSON.js referenced above using the npm node packet manager.
2. I referenced this using a `<script>` tag on `index.html`. I _could not_ get the node module to work with requirejs, despite many attempts.
3. Changed the geojson_source to an http soql query
4. Changed `src/data/geojson.js` to query using the soql query, then

[2015-04-06 14:12] WheresHJ commented on #148
Also make sure to update the README and wiki with instructions for how to connect with SODA!

[2015-04-14 23:27] paulswartz commented on #148
My thought for how this could get brought back into the fold: right now, `geojson_src` is a top-level attribute.  Instead, it could look something like this:

[code]

Then, if "process" is defined, we'd create a function out of that body, and pass the data through it before it gets sent to the other parts of Finda as GeoJSON.

It's not the easiest thing in the world, but it would work with the exi

[2015-04-30 20:24] radumas commented on #148
[So Socrata has brought GeoJSON support online](http://dev.socrata.com/changelog/2015/04/27/new-higher-performance-apis.html), though I guess the JSON functionality of Finda would still be useful since the migration to the new API hasn't completed yet.

If I understand correctly you're suggesting to have the `href` field be the address to the JSON source, either local or HTTP request. If the `proc

[2015-05-05 23:40] paulswartz commented on #148
The fact that there are a variety of different formats is why I proposed the `process` field.  As you mentioned, it would be Javascript code that Finda would execute to convert whatever data was fetched from the `href` field into the GeoJSON format that the rest of Finda expects.  Whether that's parsing CSV, converting the SODA into GeoJSON, or parsing some binary format, it'll all be handled in t

[2015-08-19 00:15] #56 closed

[2016-07-11 15:59] beechnut commented on #29
Looking to use Finda for a project that requires mobile usage, but I'm unable to use it on a phone at all.

Has anything been decided or designed, re: this issue? I'd love to leverage what work has already been done, and see if I can dedicate some of our staff's hours to implementing mobile.

[2016-07-11 17:20] thecristen opened #155 "Map tiles 503 error"
I'm guessing this is because my work proxy is very excited to block things.

![image](https://cloud.githubusercontent.com/assets/2136286/16739827/fd955f1a-4769-11e6-85b7-6f73bf48d881.png)

[2016-09-08 22:09] mwleeds commented on #155
This issue was resolved by 8bc67ebefeb90d027c17106b1ae71a1b63da03f6. So just update your tile provider and it should work again.

[2017-05-24 16:58] mshenfield opened #157 "Only display loading indicator after a half second delay"
Users' are generally okay with a short delay before they wonder "What's going on with this program". The loading indicator as it currently exists generally pops in and out very quickly when an action is taken.

Adjust the appearance of the loading screen to happen after a half second delay. If the content is loaded before that, do not display a loading indicator.